{
  "presets": ["./scripts/babel-preset-env", "stage-1", "react"],
  "plugins": [
    "transform-object-assign"
  ],
  "env": {
    "docs-development": {
      "presets": [
        "next/babel"
      ],
      "plugins": [
        "preval",
        [
          "module-resolver",
          {
            "alias": {
              "pages": "./pages",
              "react-swipeable-views": './packages/react-swipeable-views/src',
              "react-swipeable-views-utils": './packages/react-swipeable-views-utils/src',
              "react-swipeable-views-core": './packages/react-swipeable-views-core/src',
              "docs": "./docs"
            }
          }
        ]
      ]
    },
    "docs-production": {
      "presets": [
        "next/babel"
      ],
      "plugins": [
        "preval",
        [
          "module-resolver",
          {
            "alias": {
              "pages": "./pages",
              "react-swipeable-views": './packages/react-swipeable-views/src',
              "react-swipeable-views-utils": './packages/react-swipeable-views-utils/src',
              "react-swipeable-views-core": './packages/react-swipeable-views-core/src',
              "docs": "./docs"
            }
          }
        ],
        "transform-react-constant-elements",
        "transform-dev-warning",
        "transform-runtime",
        ["transform-react-remove-prop-types", {"mode": "remove"}]
      ]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-dev-warning",
        "transform-runtime",
        ["transform-react-remove-prop-types", {"mode": "wrap"}],
      ]
    }
  }
}
